{
  "arrowParens": "avoid",
  "singleQuote": true,
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "svelteStrictMode": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "none"
}