{
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "trailingComma": "none",
  "useTabs": true
}